.genrePage{
    display: flex;
    column-gap: 25px;
    margin: 25px;
    height: 34px;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 1px 1px 0 hsl(0, 14%, 99%),
    2px 2px 0 hsl(0, 0%, 96%),
    3px 3px 0 hsl(0, 0%, 100%),
    4px 4px 0 hsl(35,100%,50%),
    5px 5px 0 hsl(45,100%,50%),
    6px 6px 0 hsl(45,100%,55%),
    7px 7px 0 hsl(55,100%,60%),
    8px 8px 0 hsl(55,100%,65%);
    color: hsl(0,100%,40%);
    transition: all 1s;

}
.genrePage:hover {
    text-shadow: 1px -1px 0 hsl(0, 14%, 95%),
    2px -2px 0 hsl(0, 0%, 100%),
    3px -3px 0 hsl(280,100%,60%),
    4px -4px 0 hsl(280,100%,60%),
    5px -5px 0 hsl(270,100%,75%),
    6px -6px 0 hsl(270,100%,80%),
    7px -7px 0 hsl(260,100%,85%),
    8px -8px 0 hsl(260,100%,90%);
    color: hsl(300, 38%, 63%);
}
.outlet{

    background: url("https://wallpaperaccess.com/full/288727.jpg") no-repeat;
}

.genrePagePhaser{
    display: flex;
    flex-wrap: wrap;
    height: 810px;
    background: url("https://wallpaperaccess.com/full/288727.jpg") no-repeat;
}