.moviesPage{

    background: url("https://wallpaperaccess.com/full/288727.jpg") no-repeat;

}

.bottomMovies{
    display: flex;
    justify-content: center;
    column-gap: 150px;

}
.resultsPage{
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    background: url("https://wallpaperaccess.com/full/288727.jpg") no-repeat;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 1px 1px white,
    2px 2px #777;
    color: #333;
    transition: all 1s;
}
.resultsPage:hover {
    text-shadow: 1px 1px white,
    2px 2px tomato;
    color: crimson;
}

.bottomPage{
    background: black;
    height: 1085px;
    margin-top: -1066px;
}
button {
    position: relative;
    padding: 19px 36px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

button span {
    position: relative;
    color: #fff;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
}

button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #c305ee;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}

button .liquid::after,
button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
}

button .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

button .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
}

button:hover .liquid {
    top: -120px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}