


.app{
  margin-top: -25px;
  background: url("https://wallpaperaccess.com/full/288727.jpg") no-repeat;

height: 250px;

}
.down{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 25px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: 0 0 0 #020202;
  color: transparent;
  animation: shadows 4s infinite ease-in;
  background: url("https://wallpaperaccess.com/full/288727.jpg") no-repeat;

}

@keyframes shadows {
  60% {
    text-shadow: 0 0 0 #bf04ff;
  }
  90% {
    text-shadow: 0 30px 40px transparent;
  }
  100% {
    text-shadow: 0 0 0 transparent;
  }
}
